<div class="container mt-5 d-flex justify-content-center">
  <h1>Welcome Back ! {{firstName}} !</h1>
  
</div>
<div class="d-flex justify-content-center">
  <a href="/logout" class="btn btn-primary">Log out</a>
</div>